@media only screen and (max-width: 459px){
  h1 {
    font-size: 18vw;
  }
}

@media only screen and (min-width: 460px){
  h1 {
    font-size: 83px;
    background-color: #FFF;
  }
}

@media only screen and (max-width: 565px){
  nav a {
    font-size: 7.9vw;
  }
}
